body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #ff6347;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    flex-direction: column;
}

.product-grid .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
}
.grid-item img.food-image {
    width: 100%;
    max-width: 300px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #ff6347;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #d9534f;
}
